# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Amit Ganon\Software Engineering\סמסטר ב\תכנות מונחה עצמים\עבודה 1\OOP-HW1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
